<html>

<body>
    <h1>Create Movie Page</h1>
    <form action="createMovie/getCreateData" method="POST">
        Name : <input type="text" name="movieName"> <br/>
        Genres : <input type="text" name="movieGenres"> <br/>
        Language : <input type="text" name="movieLanguage"> <br/>
        

        <input type="submit" value="Create">
    </form>
   

</body>

</html>